
<article>
            
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-12 col-lg-3 d-none d-sm-block">
                <div class="article-sidebox"> 
                    <!--=include article/article-sidebox.html -->
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="article-body">  
                    <!--=include article/article-header.html -->
                </div>
            </div>
        </div>
    </div>

    <div class="row row-full">   
        <div class="col-12 col-lg-3 d-none d-sm-block">
            <div class="article-sidebox"> 
                <!--=include article/article-sidebox--social-share.html -->
            </div>
        </div>
        <div class="col-12 col-lg-9 col-full">
            <div class="article-body">  
                <!--=include article/article-video.html -->
            </div>
        </div>
    </div>

    <div class="container-fluid d-block d-sm-none">   
        <div class="row">   
            <div class="col-12 col-lg-3">
                <div class="article-sidebox"> 
                    <!--=include article/article-sidebox.html -->
                    <!--=include article/article-sidebox--social-share.html -->
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-7 offset-lg-4">
                <div class="article-body">  
                    <!--=include article/article-text.html -->
                </div>
            </div>
        </div>
        
        <div class="row">   
            <div class="col-12 col-lg-8 offset-lg-2">
                <div class="article-body">  
                    <!--=include article/article-text-split.html -->
                </div>
            </div>
        </div>
    </div>

    <div class="row row-full">   
        <div class="col-12 col-lg-8 offset-lg-2 col-full">    
            <div class="article-body">  
                <!--=include article/article-video-large.html -->
            </div>
        </div>
    </div>

    <div class="row row-full">   
        <div class="col-12 col-full">    
            <div class="article-body">  
                <!--=include article/article-video-fullwidth.html -->
            </div>
        </div>
    </div>

    
    <div class="container-fluid">
        <div class="row">   
            <div class="col-12">  
                <div class="article-body">  
                    <!--=include article/article-image-left.html -->
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">   
            <div class="col-12">  
                <div class="article-body">  
                    <!--=include article/article-image-right.html -->
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">   
            <div class="col-12">  
                <div class="article-body">  
                    <!--=include article/article-image-image.html -->
                </div>
            </div>
        </div>
    </div>

</article>
