<div class="section">

    <div class="container height-100vh horizontal-center">
        <div class="row">
            <div class="col-12">

				<!-- CARDS -->
				<div class="cards">

					<div class="row">
					    <div class="col-12">

					    	<div class="section_header">
					    		<h2>Cards</h2>
					    	</div>

					    </div>
					</div>

					<div class="row">
					    <div class="col-12">




					    	<!-- COL 8 / COL 4 -->
					    	<div class="row">
					    	    
					    	    <div class="large-8 medium-6 small-12 columns">
					    	        <div class="cards">
					    	            <div class="card_list card_list--height">
					    	                <div class="card">
					    	                    <a href="#">
					    	                        <div class="card_img" style="background-image: url('assets/images/demo/yellow.jpg')">
					    	                        </div>
					    	                        <div class="card_text">
					    	                            <small>Udvikling</small>
					    	                            <h3>
					    	                                Vores sprog
					    	                            </h3>
					    	                            <p>Er vores sprog under pres fra nye medier?</p>
					    	                            <div class="button--arrow">
					    	                                <i class="icon-arrow_link"></i>Læs artiklen
					    	                            </div>
					    	                        </div>
					    	                    </a>  
					    	                </div>
					    	            </div>
					    	        </div>
					    	    </div>

					    	    <div class="large-4 medium-6 small-12 columns">
					    	        <div class="cards">
					    	            <div class="card_list card_list--height">
					    	                <div class="card">
					    	                    <a href="#">
					    	                        <div class="card_img" style="background-image: url('assets/images/demo/yellow.jpg')">
					    	                        </div>
					    	                        <div class="card_text">
					    	                            <small>Udvikling</small>
					    	                            <h3>
					    	                                Vores sprog
					    	                            </h3>
					    	                            <p>Er vores sprog under pres fra nye medier?</p>
					    	                            <div class="button--arrow">
					    	                                <i class="icon-arrow_link"></i>Læs artiklen
					    	                            </div>
					    	                        </div>
					    	                    </a>  
					    	                </div>
					    	            </div>
					    	        </div>
					    	    </div>

					    	</div>  




					    	<!-- COL 4 / COL 4 / COL 4 -->
					    	<div class="row">
					    	    
					    	    <div class="large-4 medium-6 small-12 columns">
					    	        <div class="cards">
					    	            <div class="card_list card_list--height">
					    	                <div class="card">
					    	                    <a href="#">
					    	                        <div class="card_img" style="background-image: url('assets/images/demo/yellow.jpg')">
					    	                        </div>
					    	                        <div class="card_text">
					    	                            <small>Udvikling</small>
					    	                            <h3>
					    	                                Vores sprog
					    	                            </h3>
					    	                            <p>Er vores sprog under pres fra nye medier?</p>
					    	                            <div class="button--arrow">
					    	                                <i class="icon-arrow_link"></i>Læs artiklen
					    	                            </div>
					    	                        </div>
					    	                    </a>  
					    	                </div>
					    	            </div>
					    	        </div>
					    	    </div>

					    	    <div class="large-4 medium-6 small-12 columns">
					    	        <div class="cards">
					    	            <div class="card_list card_list--height">
					    	                <div class="card">
					    	                    <a href="#">
					    	                        <div class="card_img" style="background-image: url('assets/images/demo/yellow.jpg')">
					    	                        </div>
					    	                        <div class="card_text">
					    	                            <small>Udvikling</small>
					    	                            <h3>
					    	                                Vores sprog
					    	                            </h3>
					    	                            <p>Er vores sprog under pres fra nye medier?</p>
					    	                            <div class="button--arrow">
					    	                                <i class="icon-arrow_link"></i>Læs artiklen
					    	                            </div>
					    	                        </div>
					    	                    </a>  
					    	                </div>
					    	            </div>
					    	        </div>
					    	    </div>

					    	    <div class="large-4 medium-6 small-12 columns">
					    	        <div class="cards">
					    	            <div class="card_list card_list--height">
					    	                <div class="card">
					    	                    <a href="#">
					    	                        <div class="card_img" style="background-image: url('assets/images/demo/yellow.jpg')">
					    	                        </div>
					    	                        <div class="card_text">
					    	                            <small>Udvikling</small>
					    	                            <h3>
					    	                                Vores sprog
					    	                            </h3>
					    	                            <p>Er vores sprog under pres fra nye medier?</p>
					    	                            <div class="button--arrow">
					    	                                <i class="icon-arrow_link"></i>Læs artiklen
					    	                            </div>
					    	                        </div>
					    	                    </a>  
					    	                </div>
					    	            </div>
					    	        </div>
					    	    </div>

					    	</div> 




					    	<!-- COL 4 / COL 8 -->
					    	<div class="row">

					    	    <div class="large-4 medium-6 small-12 columns">
					    	        <div class="cards">
					    	            <div class="card_list card_list--height">
					    	                <div class="card">
					    	                    <a href="#">
					    	                        <div class="card_img" style="background-image: url('assets/images/demo/yellow.jpg')">
					    	                        </div>
					    	                        <div class="card_text">
					    	                            <small>Udvikling</small>
					    	                            <h3>
					    	                                Vores sprog
					    	                            </h3>
					    	                            <p>Er vores sprog under pres fra nye medier?</p>
					    	                            <div class="button--arrow">
					    	                                <i class="icon-arrow_link"></i>Læs artiklen
					    	                            </div>
					    	                        </div>
					    	                    </a>  
					    	                </div>
					    	            </div>
					    	        </div>
					    	    </div>


					    	    <div class="large-8 medium-6 small-12 columns">
					    	        <div class="cards">
					    	            <div class="card_list card_list--height">
					    	                <div class="card">
					    	                    <a href="#">
					    	                        <div class="card_img" style="background-image: url('assets/images/demo/yellow.jpg')">
					    	                        </div>
					    	                        <div class="card_text">
					    	                            <small>Udvikling</small>
					    	                            <h3>
					    	                                Vores sprog
					    	                            </h3>
					    	                            <p>Er vores sprog under pres fra nye medier?</p>
					    	                            <div class="button--arrow">
					    	                                <i class="icon-arrow_link"></i>Læs artiklen
					    	                            </div>
					    	                        </div>
					    	                    </a>  
					    	                </div>
					    	            </div>
					    	        </div>
					    	    </div>
					    	</div>  					        
					    </div>
					</div>
				</div>
			</div>
		</div>


		<div class="row margin-top-50px">
			<div class="col-12">
				<div class="center-vertical">
					<a class="just-link" href="#" onclick="goBack()">Tilbage</a>	
				</div>
			</div>
		</div>

	</div>
</div>
