<div class="section">

    <div class="container height-100vh horizontal-center">
        <div class="row">
            <div class="col-12">

				<!-- CARDS -->
				<div class="cards">

					<div class="row">
					    <div class="col-12">

					    	<div class="section_header">
					    		<h2>Cards</h2>
					    	</div>

					    </div>
					</div>

					<div class="row">
					    <div class="col-12">
					    	<div class="card_list card_list--height">

						    	<!-- COL 8 / COL 4 -->
						    	<div class="row">
						    	    <div class="col-12 col-sm-6 col-lg-8">
				    	                <div class="card">
				    	                    <a href="#">
				    	                        <div class="card_img" style="background-image: url('assets/images/demo/blue.jpg')">
				    	                        </div>
				    	                        <div class="card_text">
				    	                            <small>Lille overskrift</small>
				    	                            <h3>
				    	                             	Overskrift
				    	                            </h3>
				    	                            <p>Tekst</p>
													<div class="arrow-link">
														<i class="fas fa-arrow-right"></i>
														<span>Læs artiklen</span>
													</div>
				    	                        </div>
				    	                    </a>  
				    	                </div>
						    	    </div>

						    	    <div class="col-12 col-sm-6 col-lg-4">
				    	                <div class="card">
				    	                    <a href="#">
				    	                        <div class="card_img" style="background-image: url('assets/images/demo/blue.jpg')">
				    	                        </div>
				    	                        <div class="card_text">
				    	                            <small>Lille overskrift</small>
				    	                            <h3>
				    	                             	Overskrift
				    	                            </h3>
				    	                            <p>Tekst</p>
				    	                            <div class="arrow-link">
														<i class="fas fa-arrow-right"></i>
														<span>Læs artiklen</span>
													</div>
				    	                        </div>
				    	                    </a>  
				    	                </div>
						    	    </div>
						    	</div>  




						    	<!-- COL 4 / COL 4 / COL 4 -->
						    	<div class="row">
						    	    <div class="col-12 col-sm-6 col-lg-4">
				    	                <div class="card">
				    	                    <a href="#">
				    	                        <div class="card_img" style="background-image: url('assets/images/demo/blue.jpg')">
				    	                        </div>
				    	                        <div class="card_text">
				    	                            <small>Lille overskrift</small>
				    	                            <h3>
				    	                             	Overskrift
				    	                            </h3>
				    	                            <p>Tekst</p>
				    	                            <div class="arrow-link">
														<i class="fas fa-arrow-right"></i>
														<span>Læs artiklen</span>
													</div>
				    	                        </div>
				    	                    </a>  
				    	                </div>
						    	    </div>

						    	    <div class="col-12 col-sm-6 col-lg-4">
				    	                <div class="card">
				    	                    <a href="#">
				    	                        <div class="card_img" style="background-image: url('assets/images/demo/blue.jpg')">
				    	                        </div>
				    	                        <div class="card_text">
				    	                            <small>Lille overskrift</small>
				    	                            <h3>
				    	                             	Overskrift
				    	                            </h3>
				    	                            <p>Tekst</p>
				    	                            <div class="arrow-link">
														<i class="fas fa-arrow-right"></i>
														<span>Læs artiklen</span>
													</div>
				    	                        </div>
				    	                    </a>  
				    	                </div>
						    	    </div>

						    	    <div class="col-12 col-sm-6 col-lg-4">
				    	                <div class="card">
				    	                    <a href="#">
				    	                        <div class="card_img" style="background-image: url('assets/images/demo/blue.jpg')">
				    	                        </div>
				    	                        <div class="card_text">
				    	                            <small>Lille overskrift</small>
				    	                            <h3>
				    	                             	Overskrift
				    	                            </h3>
				    	                            <p>Tekst</p>
				    	                            <div class="arrow-link">
														<i class="fas fa-arrow-right"></i>
														<span>Læs artiklen</span>
													</div>
				    	                        </div>
				    	                    </a>  
				    	                </div>
						    	    </div>
						    	</div> 




						    	<!-- COL 4 / COL 8 -->
						    	<div class="row">
						    	    <div class="col-12 col-sm-6 col-lg-4">
				    	                <div class="card">
				    	                    <a href="#">
				    	                        <div class="card_img" style="background-image: url('assets/images/demo/blue.jpg')">
				    	                        </div>
				    	                        <div class="card_text">
				    	                            <small>Lille overskrift</small>
				    	                            <h3>
				    	                             	Overskrift
				    	                            </h3>
				    	                            <p>Tekst</p>
				    	                            <div class="arrow-link">
														<i class="fas fa-arrow-right"></i>
														<span>Læs artiklen</span>
													</div>
				    	                        </div>
				    	                    </a>  
				    	                </div>
						    	    </div>


						    	    <div class="col-12 col-sm-6 col-lg-8">
				    	                <div class="card">
				    	                    <a href="#">
				    	                        <div class="card_img" style="background-image: url('assets/images/demo/blue.jpg')">
				    	                        </div>
				    	                        <div class="card_text">
				    	                            <small>Lille overskrift</small>
				    	                            <h3>
				    	                                Overskrift
				    	                            </h3>
				    	                            <p>Tekst</p>
				    	                            <div class="arrow-link">
														<i class="fas fa-arrow-right"></i>
														<span>Læs artiklen</span>
													</div>
				    	                        </div>
				    	                    </a>  
				    	                </div>
						    	    </div>
						    	</div> 

					    	</div> 	
					    </div>
					</div>





					<div class="row">
						<div class="col-12">
							<div class="card_list card_list--big">

							    <div class="card">
							        <a href="#">
							            <div class="card_img" style="background-image: url('assets/images/demo/blue.jpg')">
							            </div>
							            <div class="card_text">
							                <small>Lille overskrift</small>
							                <h3>
							                    Overskrift
							                </h3>
							                <p>Tekst</p>
							                <div class="arrow-link">
												<i class="fas fa-arrow-right"></i>
												<span>Læs artiklen</span>
											</div>
							            </div>
							        </a>
							    </div>

							    <div class="card">
							        <a href="#">
							            <div class="card_img" style="background-image: url('assets/images/demo/blue.jpg')">
							            </div>
							            <div class="card_text">
							                <small>Lille overskrift</small>
							                <h3>
							                    Overskrift
							                </h3>
							                <p>Tekst</p>
							                <div class="arrow-link">
												<i class="fas fa-arrow-right"></i>
												<span>Læs artiklen</span>
											</div>
							            </div>
							        </a>
							    </div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row margin-top-50px">
			<div class="col-12">
				<div class="center-vertical">
					<a class="just-link" href="#" onclick="goBack()">Tilbage</a>	
				</div>
			</div>
		</div>

	</div>
</div>
