<div class="section">

    <div class="container height-100vh horizontal-center">
        <div class="row">
            <div class="col-12">

				<!-- COUNTDOWN DATE -->
				<div class="countdown--date">


					<div class="row">
						<div class="col-12">
							<div class="section_header">
								<h2>Countdown To Date</h2>
								<p>Til d. 24.12.2020</p>
							</div>
						</div>
					</div>


					<div class="row">
					    <div class="col-12">
					        <div class="countdown-frame" data-date="12/24/2020 08:49 AM">

					            <div class="counter-content">

					                <div id="days-element" class="counter-element">
					                     <div id="days-counter" class="counter-box">0</div>
					                     <div id="day-text" class="time-indicator" data-more="Dage" data-single="Dag"><p>Dage</p></div>
					                </div>
					               
					                <div id="hr-element" class="counter-element">
					                    <div id="hr-counter" class="counter-box">0</div>
					                    <div id="hr-text" class="time-indicator" data-more="Timer" data-single="Time"><p>Timer</p></div>
					                </div>

					                <div id="min-element" class="counter-element">
					                    <div id="min-counter" class="counter-box">0</div>
					                    <div id="min-text" class="time-indicator" data-more="Minutter" data-single="Minut"><p>Minutter</p></div>
					                </div>

					                <div id="sec-element" class="counter-element">
					                    <div id="sec-counter" class="counter-box">0</div>
					                    <div id="sec-text" class="time-indicator" data-more="Sekunder" data-single="Sekund"><p>Sekunder</p></div>
					                </div>
					            </div>

					            <div class="timesout-message" style="padding-top: 20px; padding-bottom: 20px;">
					                Tiden er udløbet.. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					            </div>
					        </div>
				    	</div>
					</div>


				</div>

			</div>
		</div>


		<div class="row margin-top-50px">
			<div class="col-12">
				<div class="center-vertical">
					<a class="just-link" href="#" onclick="goBack()">Tilbage</a>
				</div>
			</div>
		</div>

	</div>
</div>
