<div class="section">

    <div class="container height-100vh horizontal-center">
        <div class="row">
            <div class="col-12">

				<!-- FILTER -->
				<div class="filter">

					<div class="row">
						<div class="col-12">

							<div class="section_header">
					    		<h2>Filter Boxes</h2>
					    	</div>

					    </div>
					</div>


					<div class="row">
						<div class="col-12">
							
							<div class="filter_buttons">
								<ul>
									<li>
										<label class="btn btn--rounded">
											<input type="radio" name="color" value="red">
											Rød
						                </label>
									</li>
									<li>
										<label class="btn btn--rounded">
											<input type="radio" name="color" value="blue">
											Blå
						                </label>
									</li>
									<li>
										<label class="btn btn--rounded">
											<input type="radio" name="color" value="yellow">
											Gul
						                </label>
									</li>
									<li>
										<label class="btn btn--rounded">
											<input type="radio" name="color" value="purple">
											Lilla
						                </label>
									</li>
									<li>
										<label class="btn btn--rounded all-choosed all-choosed--js">
											<input type="radio" name="color" value="alle">
											Se alle
						                </label>
									</li>
								</ul>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="filter_options">

								<div class="row">


									<div class="col-6 col-md-3 col-lg-2">
										<a href="#" class="filter_options_box" data-filter="red">
											<div class="filter_options_box_text">
												Jordbær
											</div>
										</a>
									</div>

									<div class="col-6 col-md-3 col-lg-2">
										<a href="#" class="filter_options_box" data-filter="red">
											<div class="filter_options_box_text">
												Hindbær
											</div>
										</a>
									</div>

									<div class="col-6 col-md-3 col-lg-2">
										<a href="#" class="filter_options_box" data-filter="red">
											<div class="filter_options_box_text">
												Tomat
											</div>
										</a>
									</div>

									<div class="col-6 col-md-3 col-lg-2">
										<a href="#" class="filter_options_box" data-filter="blue">
											<div class="filter_options_box_text">
												Blåbær
											</div>
										</a>
									</div>

									<div class="col-6 col-md-3 col-lg-2">
										<a href="#" class="filter_options_box" data-filter="yellow">
											<div class="filter_options_box_text">
												Banan
											</div>
										</a>
									</div>

									<div class="col-6 col-md-3 col-lg-2">
										<a href="#" class="filter_options_box" data-filter="blue">
											<div class="filter_options_box_text">
												Blomme
											</div>
										</a>
									</div>


								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="row margin-top-50px">
			<div class="col-12">
				<div class="center-vertical">
					<a class="just-link" href="#" onclick="goBack()">Tilbage</a>	
				</div>
			</div>
		</div>

	</div>
</div>
