
<div class="section">

    <!-- BACKGROUND -->
    <div class="fullwidth fullwidth--fixed" style="background: url('assets/images/demo/blue.jpg')">
    </div> 

    <div class="container height-100vh horizontal-center">
        <div class="row">
            <div class="col-12">

                <div class="section_header">
                    <h2>Fullwidth Background</h2>
                </div>

            </div>
        </div>


        <div class="row">
        	<div class="col-12">
        		<div class="center-vertical">
        			<a class="just-link" href="#" onclick="goBack()">Tilbage</a>	
        		</div>
        	</div>
        </div>
    </div>

</div>