<div class="section">

    <div class="container height-100vh horizontal-center">
        <div class="row">
            <div class="col-12">

				<!-- SPLIT TEXT -->
				<div class="split-text">

					<div class="row">
					    <div class="col-12">

					    	<div class="section_header">
					    		<h2>Split Text</h2>
					    	</div>

					    </div>
					</div>

					<div class="row">
					    <div class="col-12">

					        <p>
					        	Musikken kommer ikke af sig selv. Den kommer, fordi vi betaler til dem, som står bag. Musikken skabes af hårdtarbejdende kunstnere - derfor kan det ikke være gratis, at afspille musik. Koda sætter pris på musikken - også i kroner og øre. 

								Det er lovpligtigt at din virksomhed anskaffer sig tilladdelse til at spille musik offentlige steder. Ved at betale til Koda, er din virksomhed samtidig med til at gøre noget godt for hele musikbranchen. Balancen sørger for, at både du og dine gæster kan blive ved med, at lytte til de favorit sange I holder allermest af. Koda gør det nemt for dig ved at give dig én indgang til alle dine musikaftaler. Alternativet ville være, at frisøren, radiostationen eller koncertstedet hver især skulle kontakte hver enkelt musikskaber, for at få tilladelse til at spille hvert enkelt musiknummer. Det er for besværligt og derfor ﬁndes Koda. 

								Mange kunstnere kan ikke leve uden at lave musik. Mange af os andre kan ikke undgå at afspille den. Gennem kollektiv forvaltning, opretholder Koda balancen. Giv dit bidrag gennem en musikaftale, så giver vi det videre til musikskaberne - de fortjener det.
					        </p>

					    </div>
					</div>
				        
				</div>


			</div>
		</div>


		<div class="row margin-top-50px">
			<div class="col-12">
				<div class="center-vertical">
					<a class="just-link" href="#" onclick="goBack()">Tilbage</a>	
				</div>
			</div>
		</div>

	</div>
</div>
