
<div class="section">

    <div class="container height-100vh horizontal-center">
        <div class="row">
            <div class="col-12">


                <!-- TABEL -->
                <div class="table-dropdown">

                    <div class="row">
                        <div class="col-12">

                            <div class="section_header">
                                <h2>Table Dropdown</h2>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">

                            <div class="scroll-x">
                                <div class="table-full-width">

                                    <!-- header -->
                                    <div class="table-type table-header">
                                        <div class="table">
                                            <div class="table-row">
                                                <div class="table-cell w-20">
                                                    Navn
                                                </div>
                                                <div class="table-cell w-20">
                                                    Beskrivelse
                                                </div>
                                                <div class="table-cell w-20">
                                                    Kategori
                                                </div>
                                                <div class="table-cell w-10">
                                                    Deadline
                                                </div>
                                                <div class="table-cell w-15">

                                                </div>
                                                <div class="table-cell w-10">
                                                    Tilføj
                                                </div>
                                                <div class="table-cell toggle-table w-5">
                                                    <i class="fas fa-chevron-down" style="visibility: hidden;"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- outer -->
                                    <div class="table-type table-outer">
                                        <div class="table">
                                            <div class="table-row">
                                                <div class="table-cell w-20">
                                                    Eksempel 1
                                                </div>
                                                <div class="table-cell w-20">
                                                    ....
                                                </div>
                                                <div class="table-cell w-20">
                                                    ....
                                                </div>
                                                <div class="table-cell w-10">
                                                    ....
                                                </div>
                                                <div class="table-cell w-15">
                                                    <a href="" class="btn btn--rounded">Vis side</a>
                                                </div>
                                                <div class="table-cell w-10">

                                                    <div class="form-group">
                                                        <label class="checkbox">
                                                            <input 
                                                            type="checkbox" 
                                                            id="choose-support-option"
                                                            name="choose-support-option"
                                                            value=""
                                                            >
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>

                                                </div>
                                                <div class="table-cell toggle-table w-5">
                                                    <i class="fas fa-chevron-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- inner -->
                                    <div class="table-type table-inner">
                                        <p>Lorem ipsum</p>
                                    </div>

                                    <!-- outer -->
                                    <div class="table-type table-outer">
                                        <div class="table">
                                            <div class="table-row">
                                                <div class="table-cell w-20">
                                                    Eksempel 2
                                                </div>
                                                <div class="table-cell w-20">
                                                    ....
                                                </div>
                                                <div class="table-cell w-20">
                                                    ....
                                                </div>
                                                <div class="table-cell w-10">
                                                    ....
                                                </div>
                                                <div class="table-cell w-15">
                                                    <a href="" class="btn btn--rounded">Vis side</a>
                                                </div>
                                                <div class="table-cell w-10">
                                                    <div class="form-group">
                                                        <label class="checkbox">
                                                            <input 
                                                            type="checkbox" 
                                                            id="choose-support-option"
                                                            name="choose-support-option"
                                                            value=""
                                                            >
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="table-cell toggle-table w-5">
                                                    <i class="fas fa-chevron-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- inner -->
                                    <div class="table-type table-inner">
                                        <p>Lorem ipsum</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            
                </div>
            </div>
        </div>




        <div class="row margin-top-50px">
            <div class="col-12">
                <div class="center-vertical">
                    <a class="just-link" href="#" onclick="goBack()">Tilbage</a>   
                </div>
            </div>
        </div>

    </div>

</div>