
.height-100vh{
	height: 100vh;
}


.horizontal-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.vertical-center{
	display: block;
	text-align: center;
	margin-top: 40px;
}


.margin-top-50px{
	margin-top: 50px;
}