
<!-- TEXT -->


<div class="subheading">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
</div>


<div class="row">
    <div class="col-12 col-lg-8">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce justo massa, tincidunt vitae nunc sit amet, eleifend sodales lorem. In eu ligula justo. Nam suscipit ullamcorper libero, quis varius tellus. Nunc vestibulum dui justo, et sollicitudin purus porttitor vel. In eu viverra dui. Integer aliquet magna aliquam auctor ornare. Vivamus viverra, ex ut gravida lacinia, turpis neque blandit ligula, in feugiat neque diam at eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras tristique a neque quis scelerisque. Mauris sapien nulla, cursus venenatis justo ac, facilisis bibendum mauris. Nulla in felis orci. Mauris dictum lectus lorem, id blandit velit aliquet et.
            <br><br>
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed molestie risus a felis condimentum, pellentesque egestas felis pharetra. Vestibulum vitae dolor lectus. Nam mollis libero at sem tincidunt tincidunt. Nam id lectus ut elit tempus auctor et eget risus. Praesent nec purus eu sem gravida suscipit ut at orci. Nunc id rhoncus velit. Aenean lobortis finibus massa, ut facilisis libero posuere et. Integer venenatis neque vel nibh suscipit tincidunt. Donec nisl felis, maximus id molestie consectetur, posuere ut velit. Nam vitae sodales velit, vel sodales est. Pellentesque tempus arcu sit amet nunc varius, sed lobortis justo congue.
        </p>
 
        <h2>    
            h2 ..
        </h2>

        <p> 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed molestie risus a felis condimentum, pellentesque egestas felis pharetra. Vestibulum vitae dolor lectus. Nam mollis libero at sem tincidunt tincidunt. Nam id lectus ut elit tempus auctor et eget risus. Praesent nec purus eu sem gravida suscipit ut at orci. Nunc id rhoncus velit. Aenean lobortis finibus massa, ut facilisis libero posuere et. Integer venenatis neque vel nibh suscipit tincidunt. Donec nisl felis, maximus id molestie consectetur, posuere ut velit. Nam vitae sodales velit, vel sodales est. Pellentesque tempus arcu sit amet nunc varius, sed lobortis justo congue.
        </p>

        <h3>    
            h3 ...
        </h3>

        <p> 
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed molestie risus a felis condimentum, pellentesque egestas felis pharetra. Vestibulum vitae dolor lectus. Nam mollis libero at sem tincidunt tincidunt. Nam id lectus ut elit tempus auctor et eget risus. Praesent nec purus eu sem gravida suscipit ut at orci. Nunc id rhoncus velit. Aenean lobortis finibus massa, ut facilisis libero posuere et. Integer venenatis neque vel nibh suscipit tincidunt. Donec nisl felis, maximus id molestie consectetur, posuere ut velit. Nam vitae sodales velit, vel sodales est. Pellentesque tempus arcu sit amet nunc varius, sed lobortis justo congue.
        </p>



        <br>
        <ol>
            <li>
                Lorem ipsum dolor sit amet aenean faucibus euismod nulla eu. Lorem ipsum dolor sit amet aenean faucibus euismod nulla eu.
            </li>
            <li>
                Lorem ipsum dolor sit amet aenean faucibus euismod nulla eu 
            </li>
            <li>
                Lorem ipsum dolor sit amet aenean faucibus euismod nulla eu 
            </li>
            <li>
                Lorem ipsum dolor sit amet aenean faucibus euismod nulla eu 
            </li>
        </ol>









        



        <aside class="article_accordion accordion-js">
            <h3>
                Oversigt
            </h3>
            <ul>
                <li class="tab">
                    <input type="checkbox"/>
                    <label>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                         <i class="fas fa-chevron-down"></i>
                    </label>
                    <div class="tab__content">
                        <div class="tab__content__wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="tab">
                    <input type="checkbox"/>
                    <label>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        <i class="fas fa-chevron-down"></i>
                    </label>
                    <div class="tab__content">
                        <div class="tab__content__wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="tab">
                    <input type="checkbox"/>
                    <label>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        <i class="fas fa-chevron-down"></i>
                    </label>
                    <div class="tab__content">
                        <div class="tab__content__wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="tab">
                    <input class="checked" type="checkbox" />
                    <label>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        <i class="fas fa-chevron-down"></i>
                    </label>
                    <div class="tab__content">
                        <div class="tab__content__wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="tab">
                    <input type="checkbox"/>
                    <label>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        <i class="fas fa-chevron-down"></i>
                    </label>
                    <div class="tab__content">
                        <div class="tab__content__wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="tab">
                    <input type="checkbox"/>
                    <label>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        <i class="fas fa-chevron-down"></i>
                    </label>
                    <div class="tab__content">
                        <div class="tab__content__wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="tab">
                    <input type="checkbox"/>
                    <label>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        <i class="fas fa-chevron-down"></i>
                    </label>
                    <div class="tab__content">
                        <div class="tab__content__wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="tab">
                    <input type="checkbox"/>
                    <label>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        <i class="fas fa-chevron-down"></i>
                    </label>
                    <div class="tab__content">
                        <div class="tab__content__wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="tab">
                    <input type="checkbox"/>
                    <label>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        <i class="fas fa-chevron-down"></i>
                    </label>
                    <div class="tab__content">
                        <div class="tab__content__wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="tab">
                    <input type="checkbox"/>
                    <label>
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        <i class="fas fa-chevron-down"></i>
                    </label>
                    <div class="tab__content">
                        <div class="tab__content__wrapper">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </aside>

    </div>
</div>