
<!-- IMAGE LEFT -->

<div class="row">   
    <div class="col-12 col-lg-6 col-full">    
        <div class="media-article">
            <img src="assets/images/demo/grey.png" alt="image">
        </div>   
    </div>

     <div class="col-12 col-lg-4 offset-lg-1">    
       <h3>    
           Dansk musik populært i Sverige og Storbritanien
       </h3>

       <p> 
           Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed molestie risus a felis condimentum, pellentesque egestas felis pharetra. Vestibulum vitae dolor lectus. Nam mollis libero at sem tincidunt tincidunt. Nam id lectus ut elit tempus auctor et eget risus. Praesent nec purus eu sem gravida suscipit ut at orci. Nunc id rhoncus velit. Aenean lobortis finibus massa, ut facilisis libero posuere et. Integer venenatis neque vel nibh suscipit tincidunt. Donec nisl felis, maximus id molestie consectetur, posuere ut velit. Nam vitae sodales velit, vel sodales est. Pellentesque tempus arcu sit amet nunc varius, sed lobortis justo congue.
           <br><br>
           Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed molestie risus a felis condimentum, pellentesque egestas felis pharetra. Vestibulum vitae dolor lectus. Nam mollis libero at sem tincidunt tincidunt. Nam id lectus ut elit tempus auctor et eget risus. Praesent nec purus eu sem gravida suscipit ut at orci. Nunc id rhoncus velit. Aenean lobortis finibus massa, ut facilisis libero posuere et. Integer venenatis neque vel nibh suscipit tincidunt. 
           <br><br>
           Donec nisl felis, maximus id molestie consectetur, posuere ut velit. Nam vitae sodales velit, vel sodales est. Pellentesque tempus arcu sit amet nunc varius, sed lobortis justo congue.
           <br><br>
           Donec nisl felis, maximus id molestie consectetur, posuere ut velit. Nam vitae sodales velit, vel sodales est. Pellentesque tempus arcu sit amet nunc varius, sed lobortis justo congue. Nam mollis libero at sem tincidunt tincidunt. Nam id lectus ut elit tempus auctor et eget risus. Praesent nec purus eu sem gravida suscipit ut at orci. Nunc id rhoncus velit. Aenean lobortis finibus massa, ut facilisis libero posuere et. Integer venenatis neque vel nibh suscipit tincidunt. 
       </p>
    </div>
</div>
