
<!-- VIDEO FULLWIDTH -->

<!-- vimeo -->
<div class="media-article">
    <div class="media-article--video" data-animated>

        <div class="video video--js" data-vimeo-id="31241154">
            <span>
                <i class="fas fa-play"></i>
            </span>
        </div>

        <div class="video_content">
            <h3>Lorem ipsum</h3>
            <p>
                ...
            </p>
        </div>

    </div>
</div> 


<!-- youtube -->
<!-- <div class="media-article">
    <div class="media-article--video" data-animated>

        <div class="video video--js" data-youtube-id="G1wsCworwWk">
            <span>
                <i class="fas fa-play"></i>
            </span>
        </div>

        <div class="video_content">
            <h3>Lorem ipsum</h3>
            <p>
                ...
            </p>
        </div>

    </div>
</div>  -->
